/*******************************************************************/
/* MEDIA QUERIES MEDIUM VIEWPORT */
/*******************************************************************/

@media only screen and (max-width: 1200px) {
  /*******************************************************************/
  /* HERO SECTION */
  /*******************************************************************/

  h1 {
    font-size: 2rem;
  }

  .intro-sec-heading {
    font-size: 4rem;
  }

  .intro-txt {
    font-size: 1.25rem;
  }
  /*******************************************************************/
  /* PROJECTS SECTION */
  /*******************************************************************/

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    flex-direction: row;
    width: 100%;
  }

  .card-img {
    width: 50%;
  }
}

/*******************************************************************/
/* MEDIA QUERIES SMALL VIEWPORT */
/*******************************************************************/

@media only screen and (max-width: 830px) {
  /*******************************************************************/
  /* HEADER */
  /*******************************************************************/

  nav {
    padding: 0 1rem;
    display: none;
  }

  .menu-toggle-icon {
    display: block;
    cursor: pointer;
  }

  #menu-checkbox:checked ~ nav {
    display: block;
  }

  .nav-list {
    background-color: var(--secondary-clr);
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 0;
    top: 80px;
    right: 0;
    left: 0;
  }

  .nav-list li {
    background-color: var(--primary-clr);
    border-bottom: 1px solid var(--secondary-clr);
    font-size: 1.5rem;
    text-align: center;
    padding: 1.1rem 0;
    width: 100%;
  }

  .nav-list li a {
    color: var(--secondary-clr);
  }

  .nav-list li:last-child {
    border-bottom: none;
  }

  /* Darkmode toggle */

  .darkmode-btn {
    margin-right: 5rem;
  }

  .hero-txt,
  .two-buttons,
  .about-wrapper,
  .projects-wrapper,
  .contact-wrapper {
    margin: 0 1rem;
  }

  /*******************************************************************/
  /* HERO SECTION */
  /*******************************************************************/

  h1 {
    font-size: 1.75rem;
  }

  .intro-sec-heading {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .intro-txt {
    margin-bottom: 2rem;
  }

  /*******************************************************************/
  /* ABOUT SECTION */
  /*******************************************************************/

  .skill-txt-list {
    flex-direction: column;
    gap: 2rem;
  }

  .skill-txt-list li {
    border-top: 2px solid var(--primary-clr);
  }

  .skill-txt-list li + li {
    border-left: none;
  }

  /*******************************************************************/
  /* PROJECTS SECTION */
  /*******************************************************************/

  .project-card {
    flex-direction: column;
  }

  .card-img {
    width: 100%;
  }

  .project-links {
    font-size: 0.9rem;
  }

  /*******************************************************************/
  /* CONTACT SECTION */
  /*******************************************************************/

  .contact-section,
  .about-section {
    margin-bottom: var(--section-spacing-small);
  }

  .form-txt-container {
    flex-direction: column;
    gap: 4rem;
  }

  form {
    width: 100%;
  }

  .contact-txt {
    padding: 0 0.5rem;
    width: 100%;
  }

  .signature {
    font-size: 3.2rem;
  }
  /*******************************************************************/
  /* SOCIAL ICONS */
  /*******************************************************************/

  .social-icons-container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    position: static;
    margin-bottom: var(--mellom-spacing);
  }
}
