/*******************************************************************/
/* VARIABLES */
/*******************************************************************/

:root {
  /* Colors */
  --primary-clr: #574f4f;
  --secondary-clr: #ece7e1;

  --middle-clr: #a9a3a1;
  --lighter-clr: #d7d1cf;

  /* Font family */
  --ff-headings: "M Plus 1", "Red Hat Display", "Quicksands", sans-serif;
  --ff-bodytxt: "Montserrat", "Poppins", sans-serif;

  /* Space */
  --section-spacing: 6rem;
  --section-spacing-small: 4rem;
  --mellom-spacing: 3rem;
  --small-spacing: 1.5rem;
}

/*******************************************************************/
/* GLOBAL STYLING*/
/*******************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dark-mode {
  --primary-clr: #ece7e1;
  --secondary-clr: #574f4f;
}

.lightmode-dark {
  color: var(--primary-clr);
}

/* Headings */
.sec-heading {
  font-size: 48px;
  font-family: var(--ff-headings);
  font-weight: lighter;
}

.tert-heading {
  font-size: 32px;
  font-family: var(--ff-headings);
  font-weight: lighter;
}

/* Bodytext */
.txt {
  font-family: var(--ff-bodytxt);
}

/* Main cta */
.main-cta:link,
.main-cta:visited {
  background-color: var(--primary-clr);
  text-decoration: none;
  font-family: var(--ff-bodytxt);
  color: var(--secondary-clr);
  font-weight: 500;
}

/* Secondary cta */
.cta-secondary:link,
.cta-secondary:visited {
  color: var(--primary-clr);
  font-family: var(--ff-bodytxt);
  text-decoration: none;
  border: 2px solid var(--primary-clr);
  padding: 1rem;
}

/*******************************************************************/
/* SPECIFIC STYLING */
/*******************************************************************/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background-color: var(--secondary-clr);
  display: flex;
  flex-direction: column;
}

/*******************************************************************/
/* HEADER */
/*******************************************************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  font-family: mont;
  background-color: var(--secondary-clr);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 80px;
}

.logo {
  width: 50px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  position: relative;
}

.nav-list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--primary-clr);
  bottom: -3px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-list a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-list li a:active {
  color: var(--clr-orange_secondary);
}

.nav-list a:hover {
  font-style: italic;
}

.darkmode-btn {
  border: none;
  background-color: transparent;
}

#theme-icon {
  width: 30px;
  cursor: pointer;
}

/*******************************************************************/
/* HERO SECTION */
/*******************************************************************/

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* height: calc(100vh - 80px); */
  height: 100vh;
}

.hero-txt,
.two-buttons {
  margin-left: 3rem;
}

.hero-txt {
  margin-bottom: var(--mellom-spacing);
}

h1 {
  font-family: var(--ff-headings);
  font-size: 3rem;
  font-size: clamp(1.3rem, 3vw, 3rem);
  font-weight: 300;
}

.intro-sec-heading {
  font-family: var(--ff-headings);
  font-size: 6rem;
  font-size: clamp(2rem, 5vw, 6rem);
  font-weight: 400;
}

.intro-txt {
  font-family: var(--ff-bodytxt);
  font-size: 1.5rem;
  font-size: clamp(0.75rem, 1vw, 1.5rem);
}

/* HERO CTAs */

.two-buttons {
  display: flex;
  gap: 1.5rem;
}

.projects-cta,
.contact-cta {
  border-radius: 4px;
  padding: 1rem 2rem;
}

.projects-cta,
.contact-cta {
  transition: background-color 0.3s, border-color 0.3s, color 0.3s,
    transform 0.1s;
}

.projects-cta:hover,
.contact-cta:hover {
  background-color: var(--middle-clr);
  border-color: var(--middle-clr);
  /* color: var(--primary-clr); */
  color: black;
}

.projects-cta:active,
.contact-cta:active {
  transform: scale(0.95);
}

/*******************************************************************/
/* ABOUT SECTION */
/*******************************************************************/

.about-section {
  margin-bottom: var(--section-spacing);
  padding-bottom: 4rem;
}

.about-wrapper {
  margin-left: 3rem;
  margin-right: 3rem;
}

.about-heading {
  display: flex;
  font-family: var(--ff-headings);
  justify-content: space-between;
  margin-bottom: var(--mellom-spacing);
}

.about-txt-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: var(--ff-bodytxt);
  line-height: 1.5;

  margin-bottom: var(--mellom-spacing);
}

.skill-icon-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin-bottom: var(--mellom-spacing);
}

.skill-icon {
  font-size: 2rem;
  fill: var(--primary-clr);
  width: 8%;
}

.skill-txt-container {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}

.skill-txt-list {
  display: flex;
  font-family: var(--ff-bodytxt);
  line-height: 1.5;
  list-style: none;
}

.skill-txt-list li {
  flex: 1;
  padding: 1rem;
}

.skill-txt-list li + li {
  border-left: 2px solid var(--primary-clr);
}

/*******************************************************************/
/* PROJECTS SECTION */
/*******************************************************************/

.projects-section {
  /* height: calc(100vh - 80px); */
  margin-bottom: 6rem;
}

.projects-wrapper {
  margin-left: 3rem;
  margin-right: 3rem;
}

.projects-heading {
  /* text-align: center; */
  font-family: var(--ff-headings);
  margin-bottom: var(--mellom-spacing);
}

.projects-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.project-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px rgb(181, 178, 178);
  border-radius: 4px;
  /* background-color: var(--lighter-clr); */
}

.card-img {
  width: 100%;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.card-project-classification {
  font-family: var(--ff-bodytxt);
  font-weight: 500;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.demo-link:link,
.demo-link:visited,
.github-link:link,
.github-link:visited {
  display: flex;
  gap: 0.5rem;
  border: 2px solid var(--primary-clr);
  border-radius: 4px;
  color: var(--primary-clr);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s,
    transform 0.1s;
}

.demo-link:hover,
.github-link:hover {
  background-color: var(--middle-clr);
  border-color: var(--middle-clr);
  /* color: var(--primary-clr); */
  color: black;
}

.demo-link:active,
.github-link:active {
  transform: scale(0.95);
}

/*******************************************************************/
/* CONTACT SECTION */
/*******************************************************************/

.contact-section {
  margin-bottom: var(--section-spacing);
}

.contact-wrapper {
  margin: 0 3rem;
}

.contact-heading {
  margin-bottom: var(--mellom-spacing);
}

.form-txt-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;

  gap: var(--small-spacing);
}

.name-container,
.email-container,
.message-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-family: var(--ff-headings);
  color: var(--primary-clr);
}

form label {
  padding-left: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  /* background-color: var(--middle-clr); */
  background-color: var(--lighter-clr);
  border: none;
  border-bottom: px solid var(--primary-clr);
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: var(--primary-clr);
  font-family: var(--ff-bodytxt);
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
  border: 2px solid var(--primary-clr);
}

form input::placeholder,
form textarea::placeholder {
  color: #5e5959;
  font-style: italic;
}

.submit-btn {
  color: var(--secondary-clr);
  font-weight: bolder;
  font-family: var(--ff-bodytxt);
  background-color: var(--primary-clr);
  border: none;
  border-radius: 4px;
  transition: background-color 0.1s, color 0.3s, transform 0.1s;
  padding: 1rem;
}

.submit-btn:hover {
  background-color: var(--middle-clr);
  color: var(--primary-clr);
}

.submit-btn:active {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  transform: scale(0.95);
}

.contact-txt {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-family: var(--ff-bodytxt);
  text-align: center;
  width: 50%;
}

.signature {
  font-size: 4rem;
  font-family: "Babylonica";
  text-align: center;
}

/*******************************************************************/
/* SOCIAL ICONS */
/*******************************************************************/

.social-icons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  bottom: 0.5rem;
  right: 0;
}

.social-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  transition: color 0.2s ease;
  z-index: 9999;
}

.social-icon:hover {
  color: #989494;
}

/*******************************************************************/
/* FOOTER */
/*******************************************************************/

footer {
  font-family: var(--ff-bodytxt);
  text-align: center;
  margin-bottom: 0.5rem;
}
